.main-div {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
}

.input-box {
    width: 60%;
    padding: 1% 0;
    border-radius: 1vh;
    border: 1px solid rgb(209, 179, 179);
}


.date-box {
    width: 20%;
    padding: 0.8% 0;
    border-radius: 1vh;
    border: 1px solid rgb(209, 179, 179);
}

.submit-button {
    width: 15%;
    padding: 1% 0;
    background-color: green;
    border: none;
    border-radius: 1vh;
    color: white;


}